*.pt
dumps
node_modules
*.pyc
.venv
outputs
*.xlsx
*.png
*.jpeg
.DS_Store
public
__pycache__
.tmp
.idea
.log
dist
docs
.env
npm-debug.log
.nyc_output
coverage
cassettes
package-lock.json
uploads/*
scripts/dummyimg/*
upload.json
files/*
.vscode/*
get-pip.py
*.jpg
*.xlsx#
*.png
t.*
t
priv-key.json
yarn.lock
eng.traineddata
local_dump*
dumps/
dump
*.zip
geckodriver.log
zomato/geckodriver.log
*zcrawl*
*.xlsx
*.pyc
*.log
executorch
env/%
key.py
stability_audio_model
*.deb
phi3_tokenizer